<div id="feedback">
<h1>Listing Feedback</h1>

<table>
  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= @business.name %></td>
      </tr>
      <tr>
        
        <td><%= feedback.description %></td>
        <td><%= feedback.status %></td>
        
      </tr>

    <% end %>
  </tbody>
</table>
<br>
 <td><%= link_to 'Show', show_business_path(@business) %></td>
<br>
</div>

