<div class="jumbotron">
        <h1>Wondering who we are?</h1>
        <p>We are a bunch of strangers who met at the Startup Weekend Delhi on 19th Sept 2014 and decided to work together on improving the current customer feedback systems for businesses around the world</p>
        <p><b>Team</b>
        <ul>
        	<li>Gaurav Mittal</li>
        	<li>Siddhartha Gupta</li>
        	<li>Gaurav Arora</li>
        	<li>Raghav Malik</li>
        	<li>Samir Sethi</li>
        	<li>Manuj Maurya</li>
        	<li>Arun Jolly Joseph</li>
        </ul>
        </p>
      </div>