<h1>Welcome to CustomerKonnect</h1>
<p>Welcome welcome!</p>
<p>Some introductory bullshit</p>
<%= link_to  %>
<div class="select-business"></div>
<p>Please choose a business:</p>
<%= select_tag(:business_id, options_for_select(@business_options)) %>
