<div class="jumbotron">
        <h1>Welcome to Customer Konnect!</h1>
        <p>Give your feedback directly to a store owner <b>anonymously</b> through a 1 to 1 private channel. 
        We ensure that your feedback reaches the right people, whether it be positive, negative or suggestive. </p>
        <p>Don't hold back, you may just win some amazing rewards</p>
      <%= link_to "Sounds good! I want to share my feedback!", new_feedback_path %>
      </div>
