<div style="margin-left: 80px">
	<% @feedbacks.each do |feedback| %>
	<p>Feedback Description: <%= feedback.description %></p>
	<p>Email: <%= feedback.shopper.email %></p>
	<p>Business: <%= feedback.business.name %></p>
	<% end %>
</div>
